/* CSS Document */


body {
	background: #000000;
	color: #F8F8FF;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/* Headings */

h1 {
	font-size: 30pt;
}

h2 {
	font-size: 22pt;
}

h3 {
	font-size: 14pt;
}

li {
	font-size: 10pt;
}

li span {
	font-size: 12pt;
}


/* Hyperlinks */

a:link {
	color: #FF6C0C;
	text-decoration: none;
}

a:visited {
	color: #FF6C0C;
	text-decoration: none;
}

a:active {
	color: red;
	text-decoration: none;
}

a:hover {
	color: #1772d0;
	text-decoration: none;
}


mark {
	font-size: 10pt;
	background-color: #E88D6E;
	color: white;
}

/* Main page container */


.container {
	width: 1024px;
	min-height: 200px;
	margin: 0 auto;
	/* top and bottom, right and left */
	/* border: 1px hidden #000; */
	border: none;
	text-align: center;
	/* padding: 1em 1em 1em 1em; */
	/* top, right, bottom, left */
	color: #F8F8FF;
	background: #000000;
}

.containersmall {
	width: 1024px;
	min-height: 10px;
	margin: 0 auto;
	/* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: left;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #4d4b59;
	background: #FFFFFF;
}

.schedule {
	width: 900px;
	min-height: 200px;
	margin: 0 auto;
	/* top and bottom, right and left */
	/*border: 1px solid #000;*/
	border: none;
	text-align: left;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #4d4b59;
	background: #FFFFFF;
}

.news {
	width: 1000px;
	min-height: 30px;
	margin: 0 auto;
	/* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: left;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #4d4b59;
	background: #FFFFFF;
}

.publication {
	width: 900px;
	min-height: 20px;
	margin: 0 auto;
	/* top and bottom, right and left */
	/*border: 1px solid #000;*/
	border: none;
	text-align: left;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #4d4b59;
	background: #FFFFFF;
}

.paper {
	clear: both;
	width: 700px;
	margin: 0 auto;
	/* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: left;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #4d4b59;
	background: #FFFFFF;
}

.containerblack {
	width: 1024px;
	min-height: 200px;
	margin: 0 auto;
	/* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: center;
	padding: 1em 1em 1em 1em;
	/* top, right, bottom, left */
	color: #FFFFFF;
	background: #4d4b59;
}

/* Bullets */

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #FF6C0C;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

/* Title and menu */

.title {
	font-size: 22pt;
	margin: 1px;
}

.menubar {
	white-space: nowrap;
	margin-bottom: 0em;
	text-align: center;
	font-size: 16px;
}


/* Announcements */

.announce_date {
	font-size: .875em;
	font-style: italic;
}

.announce {
	font-size: inherit;
}

.schedule_week {
	font-size: small;
	background-color: #CCF;
}


/* Schedule */

table.schedule {
	border-width: 1px;
	border-spacing: 2px;
	border-style: none;
	border-color: #000;
	border-collapse: collapse;
	background-color: white;
}



/* Notes */

table.notes {
	border: none;
	border-collapse: collapse;
}

.notes td {
	border-bottom: 1px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}


/* Problem sets */

table.psets {
	/*	border: none;*/
	border-collapse: collapse;
}

.psets td {
	border-bottom: 1px solid;
	padding-bottom: 5px;
	padding-top: 5px;
}


.acknowledgement {
	font-size: .875em;
}

.code {
	font-family: "Courier New", Courier, monospace
}

.instructorphoto img {
	width: 140px;
	border-radius: 220px;
	margin-bottom: 10px;
}

.instructorphotosmall img {
	width: 70px;
	border-radius: 70px;
	margin-bottom: 10px;
}

.instructor {
	display: inline-block;
	width: 140px;
	text-align: center;
	margin-right: 20px;
}